# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# this langgraph template is cheeks what the heck lol

# LangGraph
.langgraph_api/

venv

.env
